main{
    font-family: 'Open Sans', Tahoma, Arial, Verdana, sans-serif;
    padding: 40px;
    color: #4c351e;
    background-color: coral;
}
/* about part  */

.containt{
    
    background: rgb(255,187,104); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,187,104,1) 3%, rgba(255,234,211,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,187,104,1) 3%,rgba(255,234,211,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(252, 248, 243) 1%,rgb(250, 212, 167, 0.897) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
    padding: 35px 35px 65px 35px;
}

.containt > h2{
    font-family: 'AGKornelia';
    text-transform: uppercase;
    color: #f05200;
}
.containt .left-pic{
    float: left;
    padding: 0 20px 20px 0;
}
.containt .right-pic{
    float: right;
}
.containt p::first-letter {
    font-size: 160%;
    
    color: rgb(226, 101, 29);

}

/* Price part */

table,tr,td{
    border: 1px solid orange;
    border-collapse: collapse;
}
table{
    width: 100%;
    text-align: center;
}
.table-wrap {
    border: 2px solid #fff;
    background: #fdf2da;
}
td:first-of-type{
   font-weight: bolder;
}
td,th{
    padding: 8px;
}
td,th{
    border-bottom: none;
}
tr:first-of-type{
    background-color: #f05200;
    color: white;
}
.map{
    width: 65%;
    padding-top: 20px;
}
.room{
    width: 100%;
    padding-bottom: 30px;
}
.main-content{
    margin-top: 0px;
}
.last{
    height: 50%;
}
/* Kiten part */
.kiten-pic{
    width: 100%;
    height: 60%;
}
.kiten-pic:hover,.room:hover{
    transform: scale(1.1);
    transition: transform .5s;
}
.pan{
    height: 100%;
}
/* hot deals */

.hot{
    font-size: 24px;
    color: crimson;
}
.hot:hover{
    padding-left: 30px;
    transform: scale(1.1);
}
.heading-pic{
    width: 100%;
    height: 290px;
}
.heading-pic1{
    margin-top: 15px;
    margin-bottom: -17px;
}
.nav-menu{
    padding-top: 10px;
}
.header-rooms{
    margin-bottom: 0
}
/* conatcts */

.contacts{
    display: flex;
    justify-content: space-around;
}
.contacts  h2{
    text-transform: uppercase;
    color: #f05200;
    font-family: 'AGKornelia';
}
.left-content{
    width: 50%;
}
.left-content div{
    padding-bottom: 8px;
}
.right-content{
    width: 40%;
}
form{
	width:90%;
}
.btn{
    width: 20%;
}
textarea{
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
}


